.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__list {
    grid-gap: 14px;
  }      
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-gap: 12px;
  }  
}