.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 16px;
}

@media screen and (max-width: 767px) {
  .photo-grid {
    min-width: 288px;
    padding: 0 16px;
    grid-gap: 12px;
    margin-bottom: 64px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-gap: 14px;
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }      
}