.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }  
}