.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 1185px) {
  .cover {
    min-height: calc(100vw*740/1184);
  }
}
