.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
}

.cover__background:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  content: ' ';
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__background:hover::before {
  background: #2A2C2F;
  opacity: 0.8;
}

.cover__background:hover {
  opacity: 1;
}